<h1><span id="odd-name">ODD</span> OR <span id="even-name">EVEN</span> CATCHER</h1>
<app-game-control (number)="addNumbers($event)" (reset)="reseted($event)"></app-game-control>
<div class="row">
  <div class="row1">
    <h3>EVEN</h3>
    <div *ngFor="let number of numberList">
      <app-even
        *ngIf = "number % 2 === 0"
        [number]="number">
      </app-even>
    </div>
  </div>
  <div class="row2">
    <h3>ODD</h3>
    <div *ngFor="let number of numberList">
      <app-odd
        *ngIf = "number % 2 != 0"
        [number]="number">
      </app-odd>
    </div>
  </div>
</div>
<router-outlet></router-outlet>